
<% if @brew_info.to_a.empty? %>

	<p>Sorry but we couldn't find any breweries by that name. Give it another shot why don't you?</p>
	
<% elsif @brew_info.size > 1 %>

	<p>We found something and here it is</p>
	
	<% @brew_info.each do |b| %>
		
		<p><a href="/brew/<%= b.id %>"><%= b.name %></a></p>
	
	<% end %>
	
<% else %>

	<p>We have only one brew or brewery and it's id is <%= brew.id %> and name is <%= brew.name %></p>

<% end %>