<div class="row">
		<div class="span1">
			<img src="<%= @brewery.images_icon %>" name="image icon" />
		</div>
		<div class ="span11">
			<h1><%= @brewery.name %></h1>
		</div>
</div> <!--end row-->
<div class="row">
	<div class="span8">
		<p><%= @brewery.description %></p>
	</div>
	<div class="span4">
		<img src="<%= @brewery.images_large %>" name="large image" />
	</div>
</div> <!-- end row div --> 