.sidebar-nav {

}

.media-grid {
	list-style:none;
}

.media-grid img {
	height: 75px;
	width: 100px;
	max-width: none;
}

.brew-slideshow {
	height: 360px;
	width: 240px;
}

.brew-slideshow img {
	border: 10px solid #ccc;
	height: 320px;
	width: 240px;
}